#profile {
    margin-left: 20px;
    border-radius: 30px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    /*background-image: url(/public/img/emptyspace.png);*/
    background-size: 30px;
    background-position: center
}

/*#notification {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border: 0;*/
/*    background-image: url(/public/img/bell.png);*/
/*    background-repeat : no-repeat;*/
/*    background-size : 30px;*/
/*    background-position: center;*/
/*}*/

.dropdown-toggle::after {
    display: none !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    left: -120px;
}